* {
    color: black;
    background-color: grey;
}

body {
    margin: 0;
}

.main-div {
    margin-top: 30px;
}

nav {
    text-align: center;
    border: 1px solid black;
    background-color: darkgray
}

.journal-entry-input {
    width: 100%;
    height: 500px;
    background-color: white;
}

fieldset {
    width: 80%;
    margin: auto;
}

