<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AddTrip Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<nav>NavBar</nav>
<body>
    <div class="main-div">
        <form>
            <fieldset>
                <label for="inputTripName">Trip Name</label>
                <input type="text" placeholder="" required /><br/>
                <label for="inputLocation">Location(s)</label>
                <input type="text" placeholder="" required /><br/>
                <label for="inputDates">Dates: Calendar Dropdown</label><br/>
                <button type="submit">Save Trip</button>
            </fieldset>
        </form>
    </div>
</body>
</html>