<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trip Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<nav>NavBar</nav>

<body>
    <div class="main-div">
        <h2 class="trip-name">Trip Name</h2>
        <button "new-entry-button">New Journal Entry</button>
        <h3>Location(s),</h3>
        <h4>Dates</h4>
        <div>
            <div class="journal-entry">Journal Entry One, date, first line...(and Edit + Delete Buttons)</div>
            <div class="journal-entry">Journal Entry Two, date, first line...(and Edit + Delete Buttons)</div>
            <div class="journal-entry">Journal Entry Three, date, first line...(and Edit + Delete Buttons)</div>
            <div class="journal-entry">Journal Entry Four, date, first line...(and Edit + Delete Buttons)</div>
            <div class="journal-entry">Journal Entry Five, date, first line...(and Edit + Delete Buttons)</div>
            <div class="journal-entry">Journal Entry Six, date, first line...(and Edit + Delete Buttons)</div>
        </div>
    </div>
</body>

</html>