<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ViewTrips</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<nav>NavBar</nav>
<body>
    <div class="main-div">
            <button>Add New Trip</button>
            <h3>Past Trips</h3>
            <div class="trip">TripA</div>
            <div class="trip">TripB</div>
            <div class="trip">TripC</div>
    </div>
</body>
</html>