* {
    color: black;
    background-color: grey;
}

body {
    margin: 0;
}

.main-div {
    text-align: center;
    margin-top: 60px;
}

nav {
    text-align: center;
    border: 1px solid black;
    background-color: darkgray
}

.trip {
    border: 1px solid black;
    background-color: lightgray;
    margin-top: 50px;
    width: 25%;
    height: 50px;
    margin-left:auto;
    margin-right:auto;
}